
body{
font-family: Arial, Verdana;
background-color: black;
color: white;
margin-top: 20px;
margin-right: 20px;
margin-left: 20px;
}


h1{
    text-align: center;
    font-size: 42px;
    padding: 15px;
    color: white;
}

h2{
    font-size: 30px;
    color: #0D0D0D;
    color: white;
}

p{
    font-size: 24px;
    padding: 10px, 0px, 10px, 0px; 
    color: #C4C4C4;
}

img{
width: 250px;
display: block;
border-color: white;
margin-right: auto;
margin-left: auto;
border-style: dashed;
border-width: 10px;
}

div {
    /* !*/
min-height: 125px ;
flex-wrap: wrap;
padding: 20px;
border-color: white;
border-style: solid;
border: 3px;
}

.introduction{
border-radius: 15px;
border-color: white;
border-width: 5px;
margin-top: 15px;
border-style: solid;
word-spacing: 200%;
color: white;
}

.introduction p{
color: white;
word-spacing: double;
line-height: 2;
}
.red{
    background-color: #ff0000;
    text-align: right;
    margin-left: 50px;
    border-style: solid;
    border: 0px, 0px, 5px, 2px
}

.red p{
color: white;
}

.red h2{
    color: black;
}


.blue{
    background-color: #0000ff;
    text-align: left;
    margin: 0px, 0px, 50px, 0px;
    border-width: 2px 5px 0px 0px;
    border-style: solid;
}

.blue h2, p{
color: #C4C4C4;
}

.yellow{
background-color: yellow;
text-align: right;
margin-left: 50px;
border-style: solid;
border-color: white;
border-width: 0px 0px 2px 5px;
}

.yellow h2{
    color: black
}

.yellow p{
    color: #707070;
}

.green{
background-color:#008500;
text-align: left;
margin-right: 50px;
border-style: solid;
border-width: 2px, 5px, 0px, 0px;
}

.green h2{
 color: black;
}

.green p{
    color: white;
}

footer{
text-align: right;
border-color: white;
border-style: solid;
border-width: 5px;
background: linear-gradient(to right, #000000 0%, #0000ff 25%, #0066ff  70%,  #000000 100%);
}


footer p{
font-size: 20px;
padding-right: 15px;
padding-bottom: 15px;
padding-top: 15px;
color: white;
}
